*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  border:1px solid grey;
}
html{
  font-size:62.5%;
}
body{
font-family: 'Roboto Mono', monospace;
  font-size:1.6rem;
  line-height:1.5;
}

nav a {
margin: 5% 5%;
padding: 2%;
display: inline-block;
border-radius: 20px;
width: 20%;
height: 10%;
font-size:1.6rem;
color: white;
text-decoration: none;
text-align: center;
}

.button1 {
  background-color: #FF764E;
}

.button2 {
  background-color: #5ED3EB;
}

.button3 {
  background-color: #FFCD69;
}

nav a:hover {
  background-color: white;
  color: #F87B99;
  animation-name: navhover;
  animation-duration: 6s;
}

@keyframes navhover {
  from {background-color: white;}
  to {background-color: #ffed24;}
}

header {
  font-family: 'Chelsea Market', cursive;
  width:100%;
  padding: 0 10%;
  /* text-align: center; */
}

.info {
  display:inline-block;
  width:60%;
  margin: 5% auto;
  position: absolute;
  text-align: center;
}

header img {
  max-width:20%;
  border-radius: 50%;
  display:inline-block;
}

.section-one {
  text-align:center;
  font-size:2rem;
  color: white;
  background-color: #DDB9A3;
  max-width: 100%;
  margin: 0 5%;
  padding: 0;
}

.section-two p {
  max-width:100%;
  height: 30%;
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

.section-two img{
  max-width:100%;
  height: 10%;
  width: 10%;
  margin: 0 45%;
}

footer {
  background-color: #F9E7DC;
}

.mountains img {
  max-width:100%;
  height: 300px;
  width: 90%;
  margin: 0 5%;
}
